.container {
  width: 500px;
  height: 550px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: 30px;
  float: left;

  .photo {
    text-align: center;

    img {
      width: 400px;
      height: 350px;
    }
  }
}