.header{
    grid-area: header;
    background-color: #e4e7e8;
}
.menu{
    grid-area: menu;
    background-color: #F0F2F7;
}
.content{
    grid-area: content;
    background-color: #F0F2F7;
}
.footer{
    grid-area: footer;
    background-color: darkgrey;
}
.container{
    display: grid;
    grid-template-areas: "header header"
                          "menu content"
                          "footer footer";
    grid-template-columns: 10% 90%;
    grid-template-rows: 50px 1fr 50px;
    min-height: 100vh;
}